@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.main{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.sub{
    display: flex;
}

#home{
    padding-right: 30px;
}

.main div {
    font-size: 35px;
    padding: 10px;
    font-weight: bold;
}

.hyperlink{
    text-decoration: none;
    color: black;
}

#home, #about{
    transition: transform 1s;
}

#home:hover{
    transform: scale(1.3);
}

#about:hover{
    transform: scale(1.3);
}

#name{
    transition: transform 1.5s;
}

#name:hover{
    transform: scale(1.4);
}

.intro{
    padding: 350px;
}

.intro div {
    position: absolute;
    font-size: 150px;
    font-family: sans-serif;
    font-weight: 800;
    color: transparent;
    background-image: url(https://media.giphy.com/media/lKaeQAunM3hZaqsOpj/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}

.intro div:hover{
    transform: scale(1.3);
    transition: transform 1s;
}
.intro div:not(:hover){
    transform: scale(1);
    transition: transform 1.5s;
}
#first{
    left: 500px;
    top: 300px;
}

#second{
    left: 500px;
    margin-top: 70px;
}

#vids{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}

#vid1, #vid2, #vid3{
    margin-top: 50px;
    width: 50%;
    height: auto;
}

::-webkit-scrollbar{
    width: 0;
}
#scrollPath{
    position:fixed;
    top: 0;
    right:0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#progressbar{
    position:fixed;
    top: 0;
    right:0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7)
        ;
        animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg)
    }
    50%{
        filter: hue-rotate(360deg)
    }
}
#progressbar:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7)
        ;
    filter: blur(10px);
}
#progressbar:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7)
        ;
    filter: blur(30px);
}